<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h2>登陆操作</h2>
    <form action = "/dologin" method="post">
        <input type = "text" name = "username">
        <br/>
        <input type = "password" name = "password">
        <input type = "submit" value="登陆">
    </form>
</head>
<body>
</body>
</html>